In [11]:
# Import modules
import os 
import csv
import pandas as pd 

# Point to file 

spy_data="./SPY.csv"
dia_data="./DIA.csv"

# Create dataframes for data

spy_df=pd.read_csv(spy_data)
dia_df=pd.read_csv(dia_data)

# Pull Columns

spy_close=spy_df["Close"]
dia_close=dia_df["Close"]
spy_close_df=pd.DataFrame(spy_close, columns=["Close"])
dia_close_df=pd.DataFrame(dia_close, columns=["Close"])

# Rename Columns for merging

renamed_spy_close_df=spy_close_df.rename(columns={"Close":"SPY Close"})
renamed_dia_close_df=dia_close_df.rename(columns={"Close":"DIA Close"})

rounded_renamed_dia_close_df=round(renamed_dia_close_df, 2)
rounded_renamed_spy_close_df=round(renamed_spy_close_df, 2)
# Combine Columns

compare_close_df=rounded_renamed_dia_close_df.join(rounded_renamed_spy_close_df, lsuffix="_left", rsuffix="_right")

# Percent Change
dia_perc_change_df=renamed_dia_close_df.pct_change()
dia_final_change_df=round(dia_perc_change_df*100, 2)

spy_perc_change_df=renamed_spy_close_df.pct_change()
spy_final_change_df=round(spy_perc_change_df*100, 2)

renamed_spy_final_change_df=spy_final_change_df.rename(columns={"SPY Close":"SPY Weekly Change(%)"})
renamed_dia_final_change_df=dia_final_change_df.rename(columns={"DIA Close":"DIA Weekly Change(%)"})

compare_perc_change_df=renamed_dia_final_change_df.join(renamed_spy_final_change_df, lsuffix="_left", rsuffix="_right")

# Master chart
final_chart_df=compare_close_df.join(compare_perc_change_df, lsuffix="_left", rsuffix="_right")
final_chart_df

    DIA Close  SPY Close  DIA Weekly Change(%)  SPY Weekly Change(%)
0      295.86     367.95                   NaN                   NaN
1      287.30     357.18                 -2.89                 -2.93
2      292.97     362.79                  1.97                  1.57
3      296.82     357.63                  1.31                 -1.42
4      310.88     374.29                  4.74                  4.66
5      328.58     389.02                  5.69                  3.94
6      324.14     376.35                 -1.35                 -3.26
7      337.79     398.51                  4.21                  5.89
8      337.37     396.03                 -0.12                 -0.62
9      343.52     402.33                  1.82                  1.59
10     344.74     406.91                  0.36                  1.14
11     335.37     393.28                 -2.72                 -3.35
12     328.97     383.27                 -1.91                 -2.55
13     331.93     382.91                  0.90                 -0.09
14     331.33     382.43                 -0.18                 -0.13
15     336.28     388.08                  1.49                  1.48
16     343.04     398.50                  2.01                  2.69
17     333.67     395.88                 -2.73                 -0.66
18     339.61     405.68                  1.78                  2.48
19     338.98     412.35                 -0.19                  1.64
20     338.73     408.04                 -0.07                 -1.05
21     338.29     407.26                 -0.13                 -0.19
22     328.12     396.38                 -3.01                 -2.67
23     334.21     404.19                  1.86                  1.97
24     319.73     385.91                 -4.33                 -4.52
25     318.50     389.99                 -0.38                  1.06
26     322.32     395.75                  1.20                  1.48
27     332.62     409.39                  3.20                  3.45
28     334.90     409.19                  0.69                 -0.05
29     338.84     412.46                  1.18                  0.80
30     338.11     412.20                 -0.22                 -0.06
31     341.03     415.93                  0.86                  0.90
32     336.73     412.63                 -1.26                 -0.79
33     333.20     411.59                 -1.05                 -0.25
34     334.19     418.62                  0.30                  1.71
35     330.84     420.02                 -1.00                  0.33
36     338.07     427.92                  2.19                  1.88
37     339.27     429.90                  0.35                  0.46
38     342.95     439.46                  1.08                  2.22
39     337.16     433.21                 -1.69                 -1.42
40     343.85     443.28                  1.98                  2.32
41     337.43     438.55                 -1.87                 -1.07
42     345.17     449.28                  2.29                  2.45
43     352.14     452.18                  2.02                  0.65
44     354.48     456.92                  0.66                  1.05
45     350.65     446.81                 -1.08                 -2.21
46     353.00     445.65                  0.67                 -0.26
47     345.12     436.50                 -2.23                 -2.05
48     343.50     439.97                 -0.47                  0.79
49     348.98     451.19                  1.60                  2.55
50     346.51     445.52                 -0.71                 -1.26
51     346.14     443.37                 -0.11                 -0.48

In [12]:
final_chart_df.sum()

DIA Close               17363.93
SPY Close               21320.63
DIA Weekly Change(%)       16.71
SPY Weekly Change(%)       19.81
dtype: float64

In [8]:
final_chart_df.describe()

        DIA Close   SPY Close  DIA Weekly Change(%)  SPY Weekly Change(%)
count   52.000000   52.000000             51.000000             51.000000
mean   333.921731  410.012115              0.327647              0.388431
std     14.712216   26.424473              2.003410              2.118537
min    287.300000  357.180000             -4.330000             -4.520000
25%    331.207500  392.457500             -1.025000             -0.920000
50%    337.400000  408.615000              0.350000              0.460000
75%    343.155000  434.032500              1.690000              1.675000
max    354.480000  456.920000              5.690000              5.890000